
@import '~bourbon/app/assets/stylesheets/bourbon';

.dropdown {
	position: relative;
	display: inline-block;
	padding: 0.5em;
	height: 2.0em;
	@include user-select(none);
	cursor: pointer;
	& .box {
		position: relative;
		&.generic {
			border-top: 0.1em solid rgba(0,0,0,0.2);
			border-bottom: 0.1em solid rgba(0,0,0,0.2); 
			&.hover {
				background-color: rgba(0,0,0,0.1);
			}
		}
		&.segmented {
			border-top: 1px solid rgba(0,0,0,0.2);
			border-bottom: 1px solid rgba(0,0,0,0.2); 
			& .hover {
				background-color: rgba(0,0,0,0.1);
			}
			& .caret {
				border-left: 1px solid rgba(0,0,0,0.2);
			}
		}
		&.editable {
			border-top: 1px solid rgba(0,0,0,0.2);
			border-bottom: 1px solid rgba(0,0,0,0.2); 
			& .hover {
				background-color: rgba(0,0,0,0.1);
			}
			& .text {
				padding: 0;
				& input {
					height: 100%;
					outline: none;
					border: none;
					font-size: 1.0em;
					min-width: 4.0em;
					padding: 1.0em 1.5em;
					margin: 0;
					background: none;
					cursor: text;
				}
			}
			& .caret {
				border-left: 1px solid rgba(0,0,0,0.2);
			}

		}

		& .caret {
			width: 3.0em;
			height: 100%;
			text-align: center;
		}

		& .text {
			min-width: 6em;
			padding: 1.0em 1.5em;
			display: inline-block;
		}

		& .caret {
			padding: 1.0em 0.75em;
			display: inline-block;
		}

		&.top {
			border-radius: 0;
			&.active {
				border-radius: 0 0 0.1em 0.1em; 
				border: none !important;
			}
		}

		&.bottom {
			&.active {
				border-radius: 0.1em 0.1em 0 0; 
				border: none !important;
			}
		}

		& .contents {
			position: absolute;
			width: 100%;
			background-color: #FFF !important;
			&.top {
				bottom: 100%;
				border-radius: 0.1em 0.1em 0 0; 
				border-bottom: 0.1em solid rgba(0,0,0,0.2);
			}

			&.bottom {
				top: 100%;
				border-radius: 0 0 0.1em 0.1em; 
				border-top: 0.1em solid rgba(0,0,0,0.2);
			}
			& ul {
				width: 100%;
				list-style: none;
				padding: 1.0em 0;
				margin: 0;
				white-space: nowrap;
				overflow: auto;
				max-height: 60%;
				& li {
					position: relative;
					width: 100%;
					padding: 0.25em 1.5em;
					padding-right: 4.0em;
					&:hover {
						background-color: rgba(0,0,0,0.1);
					}
					& .check {
						position: absolute;
						left: 0.5em;
					}
				}
			}
		}
	}
}
