// @Author: Alex Sorafumo <Yuion>
// @Date:   23/09/2016 9:34 AM
// @Email:  alex@yuion.net
// @Filename: notify-block.styles.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:31 AM

@import '../../shared/ui-vars';

$height: 4em;
$width: 25em;

.notification {
    border-radius: .15em;
    bottom: .5em;
    font-size: 1.5em;
    height: $height;
    margin-top: 1em;
    max-width: 96vw;
    opacity: 1;
    overflow: hidden;
    padding: .75em;
    position: fixed;
    right: .5em;
    user-select: none;
    width: $width;
    display: flex;
    align-items: center;
}

.default {
    background-color: $white;
    box-shadow: 0 .1em .2em .1em $black-light;
    word-wrap: normal;

    div {
        flex-grow: 1;
        flex-shrink: 1;
    }

    .close-btn {
        color: $black;

        &:hover {
            color: $black-hover;
        }
    }
}

.contents {
    align-items: center;
    display: flex;
}

.close-btn {
    cursor: pointer;
    font-size: 1.2em;
    padding: 0;
    position: absolute;
    right: .2em;
    top: .2em;
}
