// @Author: Alex Sorafumo <Yuion>
// @Date:   23/09/2016 9:34 AM
// @Email:  alex@yuion.net
// @Filename: notify-block.styles.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:31 AM

$height: 4.0;
$width: 25.0;

.notification {
    user-select: none;
    &.defaultClass {
        background-color: #fff;
        box-shadow: 0 .1em .2em .1em rgba(0, 0, 0, .2);
        word-wrap: normal;
        & div {
            flex-grow: 1;
            flex-shrink: 1;
        }
        & .close-btn {
            color: #444;
            &:hover {
                color: #aaa;
            }
        }
    }
    margin-top: 1.0;
    position: fixed;
    height: $height;
    width: $width;
    max-width: 96vw;
    padding: .75em;
    font-size: 1.5em;
    border-radius: .15em;
    bottom: .5em;
    right: .5em;
    opacity: 1;
    overflow: hidden;
    & .contents {
        display: flex;
        align-items: center;
    }
    & .close-btn {
        position: absolute;
        right: .2em;
        padding: 0;
        top: .2em;
        font-size: 1.2em;
        cursor: pointer;
    }
}
