// @Author: Alex Sorafumo <Yuion>
// @Date:   22/09/2016 5:05 PM
// @Email:  alex@yuion.net
// @Filename: notification.style.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:31 AM

.notify {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 10px;
    z-index: -1;
    z-index: 999999;
    height: 0;
    width: 0;
    overflow: visible;
    & .notify-space {
        padding: .5em;
        height: 100%;
        width: 100%;
        & .notification-list {
            height: 100%;
            width: 100%;
        }
    }
}


@media only screen and (max-device-width: 720px) {
    .notify {
        font-size:11px;
    }
}
