

.calendar {
    width: 25em;
    border: 1px solid #f2f2f2;
    * {
        user-select: none;
    }
}

.header {
    border-bottom: 1px solid #f2f2f2;
    background-color: #E91E63;
    color: #fff;
    .week {
        margin: .5em 0;
    }
}

.change {
    height: 1em;
    width: 1em;
    margin: .25em .75em .5em;
    font-size: 1.5em;
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
}

.display {
    display: flex;
    align-items: center;
    .month {
        flex: 1;
        text-align: center;
    }
}

.body {
    .month {
        padding: .25em 0;
    }

    .day {
        height: 2.5em;
        width: 2.5em;
        margin: .25em .5em;
    }
}

.week {
    display: flex;
}

.day {
    position: relative;
    flex: 1;
    text-align: center;
}

.content {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    padding: .45em .1em;
    margin: .25em;
    cursor: pointer;
    &:hover {
        background-color: #ccc;
        opacity: .8;
    }
}

.past {
    background-color: #f2f2f2;
    color: #fff;
    &:hover {
        opacity: 1;
        background-color: #f2f2f2;
        color: #fff;
    }
}

.today {
    background-color: #F44336;
    color: #fff;
}

.active {
    background-color: #E91E63;
    color: #fff;
    &:hover {
        background-color: #E91E63;
    }
}

.disabled {
    opacity: .54;
}

.non-month {
    color: rgba(0,0,0,.2);
    background: none;
    cursor: default;
    &:hover {
        color: rgba(0,0,0,.2);
        background: none;
        opacity: 1;
    }
}