<div class="aca calendar">
	<div class="calendar-space">
		<div class="header" [style.color]="color2" [style.background-color]="color1">
			<div class="arrow left" [style.color]="color2" (click)="prevMonth()">
				&#9668;
			</div>
			{{months[display_month]}} {{display_year}}
			<div class="arrow right" [style.color]="color2" (click)="nextMonth()">
				&#9658;
			</div>
		</div>
		<div class="week-days">
			<div class="weekday" *ngFor="let day of days;let i = index" [class.even]="i%2==0">{{day}}</div>
		</div>
		<div class="divider"><div class="inner"></div></div>
		<div class="month-days">
			<div class="week" *ngFor="let week of [0, 1, 2, 3, 4, 5]">
				<div class="day" *ngFor="let day of [0, 1, 2, 3, 4, 5, 6];"
					[style.background-color]="month_node[week * 7 + day].active?color1:''"
					[style.color]="month_node[week * 7 + day].active?color2:''"
					[class.valid]="month_node[week * 7 + day].valid"
					[class.today]="month_node[week * 7 + day].today"
					[class.past]="month_node[week * 7 + day].past"
					[class.active]="month_node[week * 7 + day].active"
					[class.disabled]="month_node[week * 7 + day].disabled"
					(click)="selectDate(week, day)">

					{{month_node[week * 7 + day].day}}
				</div>
			</div>
		</div>
	</div>
	<!--div [@dateTime]="pick_time" class="time-picker">
		<div class="time-space">
			<div class="header">
				Date selected: {{ formatDate() }}<br>
				Pick time of day
			</div>
			<div class="picker">
				<div class="pick">
					<div class='display-arrow' [style.color]="color1"><div class="arrow up" (click)="addHour()"></div></div>
					<div class='set'>
						<input
							type="text"
							#hourPick
							maxlength="2"
							[(ngModel)]="display_hour"
							(blur)="checkHour()"
							(keyup)="keyupHour($event)"
							(keyup.enter)="changeFocus()">
					</div>
					<div class='display-arrow' [style.color]="color1"><div class="arrow down" (click)="minusHour()"></div></div>
				</div>
				<div class="pick">
					<div class='display-arrow' [style.color]="color1"><div class="arrow up" (click)="addMinute()"></div></div>
					<div class='set'>
						<input
							type="text"
							#minutePick
							maxlength="2"
							[(ngModel)]="display_minutes"
							(blur)="checkMinute()"
							(keyup)="keyupMinutes($event)"
							(keyup.enter)="timeSet()">
					</div>
					<div class='display-arrow' [style.color]="color1"><div class="arrow down" (click)="minusMinute()"></div></div>
				</div>
				<div class="pick btn">
					<div class="btn" (click)="changePeriod()" [style.background-color]="color1"  [style.color]="color2">
						<button class="am-pm">{{display_period}}</button>
					</div>
				</div>
			</div>
			<div class="finish-btn" >
				<div class="btn" [style.background-color]="color1"  [style.color]="color2" (click)="timeSet()"> Next </div>
			</div>
		</div>
	</div-->
</div>
