// @Author: Alex Sorafumo <Yuion>
// @Date:   27/09/2016 3:42 PM
// @Email:  alex@yuion.net
// @Filename: calendar.style.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:28 AM

.calendar {
	text-align: center;
	position: relative;
	max-width: 100%;
	height: 22.9em;
	font-size: 1.0em;
	& .calendar-space {
		display: inline-block;
		height: 100%;
		width: 25.6em;
		border: 1px solid rgba(0,0,0,0.2);
		border-radius: 0.1em;
		background-color: #FFF;
		box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
		user-select: none;
		cursor: default;
		& .header {
			position: relative;
			display: flex;
			width: 100%;
			height: 11.111111%;
			border-bottom: 0.05em solid rgba(0,0,0,0.2);
			background-color: #666;
			color: #FFF;
			font-size: 1.2em;

			& .month {
				flex-grow: 1;
				text-align: center;
				padding: 0.2em;
			}
			& .change-arrow {
				font-size: 1.3em;
				cursor: pointer;
				padding: 0 0.5em;
				&:hover {
					color: rgba(255,255,255,0.54) !important;
				}
			}
		}
		& .week-days {
			display: flex;
			flex-direction: row;
			height: 11.111111%;
			padding: 1.0em 0;
			& .weekday {
				width: 3.65em;
				&.even{
					font-weight: bold;
				}
			}
		}

		& .divider {
			height: 1px;
			width: 100%;
			padding: 0 0.5em 0.2em 0.5em;
			& .inner {
				height: 1px;
				width: 100%;
				background-color: rgba(0,0,0,0.2);
			}
		}
		& .month-days {
			& .week {
				display: flex;
				flex-direction: row;
				height: 11.111111%;
				& .day {
					position: relative;
					height: 2.7em;
					width: 3.55em;
					margin: 0.1em;
					padding: 1.0em 0.5em;
					flex-grow: 0;
					& .date {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}

					&.valid {
						cursor: pointer;
						&:hover {
							background-color: rgba(0,0,0,0.3);
							color: rgba(0,0,0,0.54);
						}

						&.today {
							color: #0EAD69;
							font-weight: bold;
						}

						&.past {
							background-color: rgba(0,0,0,0.05);
						}

						&.active {
							color: rgba(255, 255, 255, 0.8);
						}

						&.disabled {
							color: rgba(0,0,0,0.1);
							cursor: not-allowed;
						}

					}
				}
			}
		}
	}
}
