<!--
@Author: Alex Sorafumo <Yuion>
@Date:   20/09/2016 11:07 AM
@Email:  alex@yuion.net
@Filename: calendar.template.html
@Last modified by:   Alex Sorafumo
@Last modified time: 27/01/2017 1:35 PM
-->

<div class="aca calendar">
	<div class="calendar-space">
		<div class="header" [style.color]="color2" [style.background-color]="color1">
			<div class="change-arrow" [style.color]="color2" (tap)="prevMonth()">
				&#9668;
			</div>
			<div class="month">{{months[display_month]}} {{display_year}}</div>
			<div class="change-arrow" [style.color]="color2" (tap)="nextMonth()">
				&#9658;
			</div>
		</div>
		<div class="week-days">
			<div class="weekday" *ngFor="let day of days;let i = index" [class.even]="i%2==0">{{day}}</div>
		</div>
		<div class="divider"><div class="inner"></div></div>
		<div class="month-days">
			<div class="week" *ngFor="let week of [0, 1, 2, 3, 4, 5]">
				<div class="day" *ngFor="let day of [0, 1, 2, 3, 4, 5, 6];"
					[style.background-color]="month_node[week * 7 + day]?.active?color1:''"
					[style.color]="month_node[week * 7 + day]?.active?color2:''"
					[class.valid]="month_node[week * 7 + day]?.valid"
					[class.today]="month_node[week * 7 + day]?.today"
					[class.past]="month_node[week * 7 + day]?.past"
					[class.active]="month_node[week * 7 + day]?.active"
					[class.disabled]="month_node[week * 7 + day]?.disabled"
					(tap)="selectDate(week, day)">

					<div class="date">{{month_node[week * 7 + day]?.day}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
