// @Author: Alex Sorafumo <Yuion>
// @Date:   27/09/2016 3:42 PM
// @Email:  alex@yuion.net
// @Filename: calendar.style.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:28 AM

.calendar {
    text-align: center;
    position: relative;
    max-width: 100%;
    height: 22.9em;
    font-size: 1em;

    .calendar-space {
        display: inline-block;
        height: 100%;
        width: 25.6em;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .1em;
        background-color: #fff;
        box-shadow: 0 .1em .2em .1em rgba(0, 0, 0, .2);
        user-select: none;
        cursor: default;

        .header {
            position: relative;
            display: flex;
            width: 100%;
            height: 11.111111%;
            border-bottom: .5em solid rgba(0, 0, 0, .2);
            background-color: #666;
            color: #fff;
            font-size: 1.2em;

            .month {
                flex-grow: 1;
                text-align: center;
                padding: .2em;
            }

            .change-arrow {
                font-size: 1.3em;
                cursor: pointer;
                padding: 0 .5em;
                &:hover {
                    color: rgba(255, 255, 255, .54) !important;
                }
            }

            .arrow {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 1em;
                width: 1em;
                font-size: 1.6em;

                &.left {
                    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNS40MSAxNi4wOWwtNC41OC00LjU5IDQuNTgtNC41OUwxNCA1LjVsLTYgNiA2IDZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNWgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=);

                    &.dark {
                        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNS40MSAxNi4wOWwtNC41OC00LjU5IDQuNTgtNC41OUwxNCA1LjVsLTYgNiA2IDZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNWgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=);
                    }
                }

                &.right {
                    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik04LjU5IDE2LjM0bDQuNTgtNC41OS00LjU4LTQuNTlMMTAgNS43NWw2IDYtNiA2eiIvPgogICAgPHBhdGggZD0iTTAtLjI1aDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);

                    &.dark {
                        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik04LjU5IDE2LjM0bDQuNTgtNC41OS00LjU4LTQuNTlMMTAgNS43NWw2IDYtNiA2eiIvPgogICAgPHBhdGggZD0iTTAtLjI1aDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);
                    }
                }
            }
        }
        .week-days {
            display: flex;
            flex-direction: row;
            height: 11.111111%;
            padding: 1em 0;

            .weekday {
                width: 3.65em;

                &.even{
                    font-weight: bold;
                }
            }
        }

        .divider {
            height: 1px;
            width: 100%;
            padding: 0 .5em .2em .5em;

            .inner {
                height: 1px;
                width: 100%;
                background-color: rgba(0, 0, 0, .2);
            }
        }

        .month-days {

            .week {
                display: flex;
                flex-direction: row;
                height: 11.111111%;

                .day {
                    position: relative;
                    height: 2.7em;
                    width: 3.55em;
                    margin: .1em;
                    padding: 1 .5em;
                    flex-grow: 0;

                    .date {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    &.valid {
                        cursor: pointer;

                        &:hover {
                            background-color: rgba(0, 0, 0, .3);
                            color: rgba(0, 0, 0, .54);
                        }

                        &.today {
                            color: #0ead69;
                            font-weight: bold;
                        }

                        &.past {
                            background-color: rgba(0, 0, 0, 05);
                        }

                        &.active {
                            color: rgba(255, 255, 255, .8);
                        }

                        &.disabled {
                            color: rgba(0, 0, 0, .1);
                            cursor: not-allowed;
                        }

                    }
                }
            }
        }
    }
}
