// @Author: Alex Sorafumo <Yuion>
// @Date:   27/09/2016 3:42 PM
// @Email:  alex@yuion.net
// @Filename: calendar.style.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:28 AM

@import '../../../shared/ui-vars';

.calendar {
    font-size: 1em;
    height: 22.9em;
    max-width: 100%;
    position: relative;
    text-align: center;
}

.calendar-space {
    background-color: $white;
    border: 1px solid $black-light;
    border-radius: .1em;
    box-shadow: 0 .1em .2em .1em $black-light;
    cursor: default;
    display: inline-block;
    height: 100%;
    user-select: none;
    width: 25.6em;
}

.header {
    background-color: $black-hover;
    border-bottom: .5em solid $black-light;
    color: $white;
    display: flex;
    font-size: 1.2em;
    height: 11.111111%;
    position: relative;
    width: 100%;

}

.month {
    flex-grow: 1;
    padding: .2em;
    text-align: center;
}

.change-arrow {
    cursor: pointer;
    font-size: 1.3em;
    padding: 0 .5em;

    &:hover {
        color: rgba($white, .54);
    }
}

.arrow {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 1.6em;
    height: 1em;
    width: 1em;

    &.left {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNS40MSAxNi4wOWwtNC41OC00LjU5IDQuNTgtNC41OUwxNCA1LjVsLTYgNiA2IDZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNWgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=);

        &.dark {
            background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xNS40MSAxNi4wOWwtNC41OC00LjU5IDQuNTgtNC41OUwxNCA1LjVsLTYgNiA2IDZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNWgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPgo8L3N2Zz4=);
        }
    }

    &.right {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik04LjU5IDE2LjM0bDQuNTgtNC41OS00LjU4LTQuNTlMMTAgNS43NWw2IDYtNiA2eiIvPgogICAgPHBhdGggZD0iTTAtLjI1aDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);

        &.dark {
            background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik04LjU5IDE2LjM0bDQuNTgtNC41OS00LjU4LTQuNTlMMTAgNS43NWw2IDYtNiA2eiIvPgogICAgPHBhdGggZD0iTTAtLjI1aDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);
        }
    }
}

.week-days {
    display: flex;
    flex-direction: row;
    height: 11.111111%;
    padding: 1em 0;

    .weekday {
        width: 3.65em;

        &.even {
            font-weight: bold;
        }
    }
}

.divider {
    height: 1px;
    padding: 0 .5em .2em .5em;
    width: 100%;

    .inner {
        background-color: $black-light;
        height: 1px;
        width: 100%;
    }
}

.week {
    display: flex;
    flex-direction: row;
    height: 11.111111%;
}

.day {
    flex-grow: 0;
    height: 2.7em;
    margin: .1em;
    padding: 1 .5em;
    position: relative;
    width: 3.55em;

    .date {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.valid {
        cursor: pointer;

        &:hover {
            background-color: $black-light;
            color: $black-hover;
        }

    }

    &.today {
        color: $green;
        font-weight: bold;
    }

    &.past {
        background-color: $black-hover;
    }

    &.active {
        color: rgba($white, .8);
    }

    &.disabled {
        color: $black-light;
        cursor: not-allowed;
    }
}
