
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-size: 1.2em;
}

.horz {
    width: 320px;
}

.vert {
    height: 240px;
}

