// @Author: Alex Sorafumo <Yuion>
// @Date:   15/09/2016 6:41 PM
// @Email:  alex@yuion.net
// @Filename: time-picker.style.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:29 AM
 

div.aca.time-picker {
	text-align: center;
	position: relative;
	max-width: 100%;
	font-size: 2.0em;
	@media screen and (max-device-width: 720px) {
		font-size: 2.5em;
	}
	& .arrow {
		&.down {
			background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDcuODRMMTIgMTIuNDJsNC41OS00LjU4TDE4IDkuMjVsLTYgNi02LTZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNzVoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+);
		}
		&.up {
			background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDE1LjQxTDEyIDEwLjgzbDQuNTkgNC41OEwxOCAxNGwtNi02LTYgNnoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+);
		}
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		height: 0.8em;
		width: 1.0em;
		margin: auto;
	}
	& .time-space {
		display: inline-block;
		margin: auto;
		& .header {
			font-size: 0.7em;
		}

		& .picker {
			display: flex;
			& .pick {
				padding: 0.2em;
				width: 3.0em;
				& .display-arrow {
					position: relative;
					font-weight: bolder;
					text-align: center;
					width: 100%;
					font-size: 1.7em;
					cursor: pointer;
				}

				& .set {
					border: 2px solid #DDD;
					border-radius: 4px;
					outline: none;
					&:active {
						box-shadow: 1px 1px 5px 2px #DDD;
					}
					& input{
						height: 100%;
						width: 100%;
						font-size: 0.8em;
						padding: 0.2em;
						border: none;
						text-align: center;
					}
				}
				& .btn {
					display: flex;
		    		align-items: center;
		    		height: 100%;
					& button {
						font-size: 0.8em;
						border: none;
						padding: 0.25em 1.0em;
						border-radius: 0.1em;
						outline: none;
					}
				}
			}
		}
	}
	&.default {
		color: rgba(0,0,0,0.87);
		& .arrow {
			color: rgba(0,0,0,0.87);
		}

		& .btn {    
			& button {
				color: #FFF;
				background-color: rgba(0,0,0,0.54);
				&:hover {
					background-color: rgba(0,0,0,0.87);
				}
			}
		}
	}
}

