// @Author: Alex Sorafumo <Yuion>
// @Date:   15/09/2016 6:41 PM
// @Email:  alex@yuion.net
// @Filename: time-picker.style.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:29 AM

@import '../../../shared/ui-vars';

.time-picker {
    font-size: 2em;
    max-width: 100%;
    position: relative;
    text-align: center;
    width: 9em;

    @media screen and (max-width: 720px) {
        font-size: 2.5em;
    }
}

.arrow {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: .8em;
    margin: auto;
    width: 1em;

    &.down {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDcuODRMMTIgMTIuNDJsNC41OS00LjU4TDE4IDkuMjVsLTYgNi02LTZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNzVoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+);
    }

    &.up {
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDE1LjQxTDEyIDEwLjgzbDQuNTkgNC41OEwxOCAxNGwtNi02LTYgNnoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+);
    }
}

.time-space {
    display: inline-block;
    margin: auto;
}

.header {
    font-size: .7em;
}

.picker {
    display: flex;
}

.pick {
    margin: .2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .display-arrow {
        cursor: pointer;
        font-size: 1.7em;
        font-weight: bolder;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .set {
        border: 2px solid $black-o50;
        border-radius: 4px;
        outline: none;

        &:active {
            box-shadow: 1px 1px 5px 2px $black-o20;
        }

        input {
            border: none;
            font-size: .8em;
            height: 100%;
            padding: .2em;
            text-align: center;
            width: 100%;
        }
    }

    .btn {
        align-items: center;
        display: flex;
        height: 100%;
    }
}

button {
    border: none;
    border-radius: .1em;
    background: none;
    font-size: .8em;
    outline: none;
    height: 1.6em;
    width: 3.2em;
    padding: .2em .75em;
}

.default {
    color: $black;

    .arrow {
        color: $black;
    }

    button {
        border: 1px solid $black-o50;
        color: $black;

        &:hover {
            background-color: $black;
            color: $white
        }
    }
}

