// @Author: Alex Sorafumo
// @Date:   21/09/2016 1:10 PM
// @Email:  alex@yuion.net
// @Filename: btn.styles.scss
// @Last modified by:   alex.sorafumo
// @Last modified time: 06/01/2017 4:43 PM
//
@import '../../../shared/ui-vars';


.default {
    font-family: Roboto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background-color: $white;
    border-radius: 0.1em;
    box-shadow: 0 0.1em 0.2em 0.1em $black-light;
    cursor: pointer;
    display: inline-block;
    min-width: 3.0em;
    padding: .5em .25em;
    position: relative;
    overflow: hidden;
    text-align: center;
    user-select: none;

    &.disabled {
        color: $black-hover;
        cursor: not-allowed;
        background-color: $black-hover;
    }

    &.action {
        height: 4em;
        width: 4em;
        padding: 0;
        border-radius: 100%;
        min-width: 4em;
    }

    &.mini-action {
        height: 3em;
        width: 3em;
        padding: 0;
        border-radius: 100%;
    }

    &.raised-3d {

    }

    &.flat {
        min-width: 6em;
    }
}

.circle{
    position: absolute;
    width: 4em;
    height: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #000;
    opacity: 0;
    border-radius: 100%;
}
