<div  [@backdrop]="state" [class]="'aca modal ' + cssClass" (click)="onPointer($event)" (touchend)="onPointer($event)">
	<div #modal class="modal-space" [@space]="state">
		<div class="dialog-header">
			<div class="year">{{data.date.getFullYear()}}</div>
			<div class="date">{{formatDate()}}</div>
		</div>
		<div class="dialog-body">
			<div class="calendar">
				<div class="header" [style.color]="color2" [style.background-color]="color1"> 
					<div class="arrow left" [style.color]="color2" (click)="prevMonth()">
						<
					</div>
					{{months[display_month]}} {{display_year}}
					<div class="arrow right" [style.color]="color2" (click)="nextMonth()">
						>
					</div>
				</div>
				<div class="week-days">
					<div class="weekday" *ngFor="let day of days;let i = index" [class.even]="i%2==0">{{day}}</div>
				</div>
				<div class="divider"><div class="inner"></div></div>
				<div class="month-days">
					<div class="week" *ngFor="let week of [0, 1, 2, 3, 4, 5]">
						<div class="day" *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]"
							[style.background-color]="isActive(week, day)?color1:''" 
							[style.color]="isActive(week, day)?color2:''" 
							[class.valid]="isValid(week, day)" 
							[class.today]="isToday(week, day)" 
							[class.past]="isPast(week, day)" 
							[class.active]="isActive(week, day)"
							[class.disabled]="isBeforeMinDate(week, day)" 
							(click)="selectDate(week, day)">
							
							{{month_node[week * 7 + day]}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="dialog-footer">
			<btn btnType="flat" (click)="select(cancel)">Cancel</btn>
			<btn btnType="flat" (click)="select(confirm)">{{confirm?.text}}</btn>
		</div>
	</div>
</div>