<!--
@Author: Alex Sorafumo
@Date:   13/09/2016 2:55 PM
@Email:  alex@yuion.net
@Filename: date-dialog.template.html
@Last modified by:   Alex Sorafumo
@Last modified time: 05/01/2017 2:39 PM
-->

<div  [@backdrop]="state" [class]="'aca modal ' + cssClass" (tap)="onPointer($event)">
	<div #modal class="modal-space" [@space]="state">
		<div class="dialog-header">
			<div class="year">{{date_year}}</div>
			<div class="date">{{date_display}}</div>
		</div>
		<div class="dialog-body">
			<div class="header">
				<div class="arrow left" (click)="prevMonth()">
					&#9668;
				</div>
				{{months[display_month]}} {{display_year}}
				<div class="arrow right" (click)="nextMonth()">
					&#9658;
				</div>
			</div>
			<div class="week-days">
				<div class="weekday" *ngFor="let day of days;let i = index" [class.even]="i%2==0">{{day}}</div>
			</div>
			<div class="divider"><div class="inner"></div></div>
			<div class="month-days">
				<div class="week" *ngFor="let week of [0, 1, 2, 3, 4, 5]">
					<div class="day" *ngFor="let day of [0, 1, 2, 3, 4, 5, 6];"
						[style.background-color]="month_node[week * 7 + day].active?colors.bg:''"
						[style.color]="month_node[week * 7 + day].active?colors.fg:''"
						[class.valid]="month_node[week * 7 + day].valid"
						[class.today]="month_node[week * 7 + day].today"
						[class.past]="month_node[week * 7 + day].past"
						[class.active]="month_node[week * 7 + day].active"
						[class.disabled]="month_node[week * 7 + day].disabled"
						(click)="selectDate(week, day)">

						{{month_node[week * 7 + day].day}}
					</div>
				</div>
			</div>
		</div>
		<div class="dialog-footer">
			<btn btnType="flat" color="orange" (onClick)="select('Cancel')">Cancel</btn>
			<btn btnType="flat" color="orange" (onClick)="select('Ok')">{{confirm?.text}}</btn>
		</div>
	</div>
</div>
