// @Author: Alex Sorafumo <Yuion>
// @Date:   13/09/2016 2:55 PM
// @Email:  alex@yuion.net
// @Filename: img-crop.styles.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:30 AM
//
@import '../../shared/ui-vars';

div.img-crop {
    font-size: 16px;
    padding: .5em;
    position: relative;
    text-align: center;
}

.loading {
    font-size: 1em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    &.save {
        background-color: $white;
        border-radius: .1em;
        box-shadow: 0 0 1px 1px $black-hover;
        color: $black;
        padding: .5em 1em;
        white-space: nowrap;
        top: 15%;
    }
}

.drop-zone {
    background-color: $black-light;
    border-radius: .2em;
    font-size: 1.6em;
    height: 100%;
    white-space: nowrap;
    width: 100%;

    .material-icons {
        font-size: 1.5em;
    }

    &.hover {
        background-color: $black-hover;
    }
}

.img-space {
    background-color: $white-hover;
    border-radius: .2em;
    display: inline-block;
    height: 300px;
    max-width: 99vmin;
    max-height: 99vmin;
    overflow: hidden;
    position: relative;
    width: 300px;

    canvas {
        display: none;
        height: 0;
        width: 0;
    }

    img-cropper {
        height: 16em;
        left: 0;
        max-height: 99vmin;
        max-width: 99vmin;
        position: absolute;
        top: 0;
        width: 16em;
    }

    .image-error {
        left: 50%;
        max-width: 75%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
