
@import '~bourbon/app/assets/stylesheets/bourbon';

.contents {
	position: fixed;
	width: 10vw;
	height: 0.1em;
	z-index: 99999;
	@include user-select(none);
	& .options {
		position: absolute;
		@include transform(translateX(-50%));
		text-align: left;
		min-width: 100%;

		& ul {
			list-style: none;
			padding: 0;
			margin: 0.2em 0;
			background-color: #FFF;
			border-radius: 0.1em;
			box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
			max-height: 35vh;
			max-width: 90vw;
			min-width: 100%;
			white-space: nowrap;
			overflow: auto;
			z-index: 1000;
		}

		& .option {
			padding: 0.8em 1.5em;
			background-color: #FFF;
			color: #000;
			max-width: 90vw;
			min-width: 100%;
			word-wrap: nowrap;
			z-index: 1000;
			display: flex;
			&.default {
				background-color: #FFF;
				color: #000;
				&:hover{
					background-color: rgb(251, 136,   0);
					color: #FFF;
					& .desc {
						color: rgba(0,0,0,0.54);
					}
				}

				& .desc{
					color: rgba(0,0,0,0.2);
				}
			}

			& .name {
				flex-grow: 1;
				text-align: left;
				padding-right: 2.0em;
			}

			& .desc {
				flex-grow: 1;
				text-align: right;
				padding-left: 2.0em;
			}
			&:hover {
				background-color: rgb(251, 136,   0);
				color: #FFF;
			}
			&.other {
				border-top: 0.05em solid rgba(0,0,0,0.05);
			}

			&.first {
				border-radius: 0.1em 0.1em 0 0;
			}

			&.last {
				border-radius: 0 0 0.1em 0.1em;
			}

		}
	}
}
