// @Author: Alex Sorafumo
// @Date:   20/09/2016 12:50 PM
// @Email:  alex@yuion.net
// @Filename: typeahead-list.styles.scss
// @Last modified by:   alex.sorafumo
// @Last modified time: 17/01/2017 4:25 PM

@import '../../../shared/ui-vars';

.contents {
    height: .1em;
    font-size: 1em;
    position: fixed;
    user-select: none;
    width: 20em;
    z-index: 99999;

    @media screen and (max-width: 720px) {
        font-size: 2em;
    }
}

.options {
    min-width: 100%;
    position: absolute;
    transform: translateX(-50%);
    text-align: left;
    top: 100%;
}

ul {
    background-color: $white;
    border-radius: .1em;
    box-shadow: 0 .1em .2em .1em $black-light;
    list-style: none;
    margin: .2em 0;
    max-height: 35vh;
    max-width: 90vw;
    min-width: 100%;
    overflow: auto;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1000;
}

.default {
    background-color: $white;
    color: $black;

    &:hover{
        background-color: $orange;
        color: $white;

        .desc {
            color: $black-hover;
        }
    }

    .desc{
        color: $black-light;
    }
}

.option {
    background-color: $white;
    color: $black;
    cursor: pointer;
    display: flex;
    max-width: 90vw;
    min-width: 100%;
    padding: .8em 1.5em;
    word-wrap: nowrap;
    z-index: 1000;

    .name {
        flex-grow: 1;
        padding-right: 2em;
        text-align: left;
    }

    .desc {
        flex-grow: 1;
        padding-left: 2em;
        text-align: right;
    }

    &:hover {
        background-color: $orange;
        color: $white;
    }

    &.other {
        border-top: .5em solid $black-hover;
    }

    &.first {
        border-radius: .1em .1em 0 0;
    }

    &.last {
        border-radius: 0 0 .1em .1em;
    }

}
