// @Author: Alex Sorafumo
// @Date:   20/09/2016 12:50 PM
// @Email:  alex@yuion.net
// @Filename: typeahead-list.styles.scss
// @Last modified by:   alex.sorafumo
// @Last modified time: 17/01/2017 4:25 PM

.contents {
    position: fixed;
    width: 20em;
    height: .1em;
    z-index: 99999;
    user-select: none;
    font-size: 1em;
    @media screen and (max-width: 720px) {
        font-size: 2em;
    }
    .options {
        position: absolute;
        transform: translateX(-50%);
        text-align: left;
        min-width: 100%;
        top: 100%;

        ul {
            position: absolute;
            transform: translateX(-50%);
            list-style: none;
            padding: 0;
            margin: .2em 0;
            background-color: #fff;
            border-radius: .1em;
            box-shadow: 0 .1em .2em .1em rgba(0, 0, 0, .2);
            max-height: 35vh;
            max-width: 90vw;
            min-width: 100%;
            white-space: nowrap;
            overflow: auto;
            z-index: 1000;
        }

        .option {
            padding: .8em 1.5em;
            background-color: #fff;
            color: #000;
            max-width: 90vw;
            min-width: 100%;
            word-wrap: nowrap;
            z-index: 1000;
            display: flex;
            cursor: pointer;

            &.default {
                background-color: #fff;
                color: #000;

                &:hover{
                    background-color: rgb(251, 136,   0);
                    color: #fff;

                    .desc {
                        color: rgba(0, 0, 0, .54);
                    }
                }

                .desc{
                    color: rgba(0, 0, 0, .2);
                }
            }

            .name {
                flex-grow: 1;
                text-align: left;
                padding-right: 2em;
            }

            .desc {
                flex-grow: 1;
                text-align: right;
                padding-left: 2em;
            }

            &:hover {
                background-color: rgb(251, 136, 0);
                color: #fff;
            }

            &.other {
                border-top: .5em solid rgba(0, 0, 0, .5);
            }

            &.first {
                border-radius: .1em .1em 0 0;
            }

            &.last {
                border-radius: 0 0 .1em .1em;
            }

        }
    }
}
