// @Author: Alex Sorafumo
// @Date:   13/09/2016 2:55 PM
// @Email:  alex@yuion.net
// @Filename: confirm-dialog.styles.scss
// @Last modified by:   Alex Sorafumo
// @Last modified time: 19/12/2016 3:54 PM

@import '../../../../shared/ui-vars';

$sm-height: 15em;
$space: 2.5em;

.modal {
    background-color: $black-light;
    bottom: 0;
    font-size: 4mm;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999;

    @media only screen and (max-width: 720px) {
        font-size: 20px;
    }
}

.tap-space {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-space {
    background-color: $white;
    border-radius: .1em;
    left: 50%;
    max-height: 95vh;
    max-width: 95vw;
    min-height: $sm-height / 2em;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $sm-height;
}

.dialog-header {
    font-size: 1.5em;
    height: $space;
    left: 0;
    padding: .5em;
    position: absolute;
    right: 0;
    top: 0;
}

.dialog-body {
    font-size: 1;
    max-height: 90vh;
    max-width: 90vw;
    overflow: auto;

    .content {
        padding: ($space + 1) 1em;
    }
}

.dialog-footer {
    bottom: 0;
    height: $space + 1em;
    left: 0;
    padding: .5em;
    position: absolute;
    right: 0;
    text-align: right;
    white-space: nowrap;
}
