
@import '../../../shared/ui-vars';

.container {
    position: fixed;
    z-index: 3000;
    pointer-events: none;
}

.tooltip {
    position: absolute;
    z-index: 99;
    pointer-events: auto;
    transition: opacity 300ms;
    opacity: 0;
    display: initial;
    &.no-triangle {
        width: 0;
        .triangle {
            display: none;
        }
    }

    &.left,
    &.right {
        top: 50%;
        transform: translateY(-50%);
        height: 2em;
        width: .5em;
        &.no-triangle {
            width: 0;
        }
    }
    &.left {
        left: -.5rem;
        &.no-triangle {
            left: 0;
        }
    }
    &.right {
        right: -.5rem;
        &.no-triangle {
            right: 0;
        }
    }
    &.top,
    &.bottom {
        left: 50%;
        transform: translateX(-50%);
        height: .5em;
        width: 2em;
        &.no-triangle {
            height: 0;
        }
    }
    &.top {
        top: -.5rem;
        &.no-triangle {
            top: 0;
        }
    }
    &.bottom {
        bottom: -.5rem;
        &.no-triangle {
            bottom: 0;
        }
    }
}

.content {
    position: absolute;
    background-color: $white;
    box-shadow: 0 .1em .2em .1em $black-o20;
    min-height: 2em;
    min-width: 2em;
    border-radius: .2em;
    .left & {
        right: 0;
        transform: translate(-.5rem, 0%);
        &.middle {
            top: 50%;
            transform: translate(-.5rem, -50%);
        }
    }
    .right & {
        left: 0;
        transform: translate(.5rem, 0%);
        &.middle {
            top: 50%;
            transform: translate(.5rem, -50%);
        }
    }

    .right &,
    .left & {
        &.start {
            top: 0;
        }
        &.end {
            bottom: 0;
        }
    }
    .top & {
        top: 1px;
        transform: translate(0, -100%);
        &.middle {
            left: 50%;
            transform: translate(-50%, -100%);
        }
    }
    .bottom & {
        bottom: 1px;
        transform: translate(0, 100%);
        &.middle {
            left: 50%;
            transform: translate(-50%, 100%);
        }
    }

    .top &,
    .bottom & {
        &.start {
            left: 0;
        }
        &.end {
            right: 0;
        }
    }
}

.triangle {
    position: relative;
    overflow: hidden;

    .left &,
    .right & {
        height: 2em;
        width: .5em;
    }
    .top &,
    .bottom &{
        height: .5em;
        width: 2em;
    }

    .square {
        position: absolute;
        height: 2em;
        width:  2em;
        border-radius: .1em;
        transform: rotate(45deg);
        background-color: $white;
        box-shadow: 0 .1em .2em .1em $black-o20;

        .left & {
            top: 0;
            right: .5em;
        }

        .right & {
            top: 0;
            left: .5em;
        }

        .top & {
            bottom: .5em;
            left: 0;
        }

        .bottom & {
            top: .5em;
            left: 0;
        }
    }
}
