<div class="container"
    [style.top]="container?.top + 'px'"
    [style.left]="container?.left + 'px'"
    [style.width]="container?.width + 'px'"
    [style.height]="container?.height + 'px'">

    <div [class]="'tooltip ' + model.position + ' ' + model.name + (!model.triangle ? ' no-triangle': '')" widget
        [class.no-triangle]="!model.triangle"
        (window:click)="shown ? close($event) : ''"
        (window:mousedown)="shown ? mouseDown($event) : ''"
        (window:mouseup)="shown ? mouseUp($event) : ''"
        (window:mousemove)="shown ? mouseMove($event) : ''"
        (window:touchstart)="shown ? mouseDown($event) : ''"
        (window:touchend)="shown ? mouseUp($event) : ''"
        (window:touchmove)="shown ? mouseMove($event) : ''"
        (window:resize)="shown ? close($event) : ''"
        [style.opacity]="(rendered || model.template) && shown ? '1' : '0'"
        (click)="tap()">
        <div #body [class]="'content ' + model.offset">
            <ng-container #content></ng-container>
            <ng-container *ngTemplateOutlet="model.template"></ng-container>
        </div>
        <div class="triangle"><div class="square"></div></div>
    </div>
</div>