//
// @Author: Alex Sorafumo
// @Date:   2017-03-21 15:12:59
// @Last Modified by:   Alex Sorafumo
// @Last Modified time: 2017-05-06 11:05:48
//

@import '../../../shared/ui-vars';

.tab {
    position: relative;
    border-radius: .15em .15em 0 0;
    bottom: -2px;
    margin: 0 .1em;
    padding: .5em 1.5em;
    position: relative;
    background-color: #f2f2f2;
    color: $black;
    border-bottom: none;
    cursor: pointer;
    min-width: 4em;
    transition: color 300ms, background-color 300ms;
    border: 1px solid #f2f2f2;

    &:hover {
        background-color: #e6e6e6;
    }
}

.active {
    border-bottom: none;
    background-color: $white;
    border-bottom: .1em solid $white;
    color: $black;

    &:hover {
        background-color: $white;
        color: $black;
    }
}
