// @Author: Alex Sorafumo <Yuion>
// @Date:   26/09/2016 2:19 PM
// @Email:  alex@yuion.net
// @Filename: tabs.styles.scss
// @Last modified by:   alex.sorafumo
// @Last modified time: 23/01/2017 12:23 PM

$dim: 2.0;
$border-color: #ababab;
$green: #23ce6b;
$red: #f64740;
$bg-color: #ffffff;

.tab-group {
    z-index: inherit;
    & .tab-header {
        position: relative;
        padding: 0 1.0;
        margin-bottom: 0;
        padding-top: .5em;
        list-style: none;
        white-space: nowrap;
        display:flex;
        text-align: center;

        overflow-x: auto;
        overflow-y: visible;
        user-select: none;
        & .border {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 1px;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
        }
        & .empty {
            position:relative;
            width: 1px !important;
            padding: .5em !important;
            opacity:1;
            bottom: -1px !important;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            background: none !important;
        }
    }
    & .contents {
        //display: none;
    }
}
