// @Author: Alex Sorafumo <Yuion>
// @Date:   26/09/2016 2:19 PM
// @Email:  alex@yuion.net
// @Filename: tabs.styles.scss
// @Last modified by:   alex.sorafumo
// @Last modified time: 23/01/2017 12:23 PM

@import '../../../shared/ui-vars';

.tab-group {
    z-index: inherit;
}

.tab-header {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    overflow-x: auto;
    overflow-y: visible;
    padding: 0 1em;
    padding-top: .5em;
    position: relative;
    text-align: center;
    user-select: none;
    white-space: nowrap;

    .border {
        border-bottom: 1px solid $black-light;
        bottom: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .empty {
        background: none;
        border-left: none;
        border-right: none;
        border-top: none;
        bottom: -1px;
        opacity: 1;
        padding: .5em;
        position: relative;
        width: 1px;
    }
}
