// @Author: Alex Sorafumo <Yuion>
// @Date:   24/11/2016 3:43 PM
// @Email:  alex@yuion.net
// @Filename: step.styles.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:31 AM

.step {
    text-align: left;
    flex-grow: 1;
    display: flex;
    width: 100%;
    & .step-icons {

    }

    & .step-number {
        position: relative;
        height: 2.0;
        width: 2.0;
        margin: .25em;
        padding: .5em;
        text-align: center;
        background-color: #efefef;
        border-radius: 100%;
        color: rgba(0, 0, 0, .87);
        cursor: pointer;
        &.active {
            background-color: #ff9800;
            color: #ffffff;
        }
        &.error {
            background-color: #f44336 !important;
            color: #ffffff;
        }
    }

    & .step-bar {
        position: relative;
        flex: 1 1 auto;
        padding: .25em 1.2em;
        width: 2.0;
        max-width: 2.0;
        min-height: 2.0;
        //height: 100%;
        & .bar {
            position: absolute;
            top: 0;
            left: 50%;
            width: .1em;
            transform: translateX(-50%);
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .2);
        }
    }
    & .step-desc {
        flex-grow: 1;
        padding: .75em 1.2em;
    }

    & .step-content {
        flex-grow: 1;
        padding: .5em .5em 1.0 .5em;
        text-align: center;
        overflow: hidden;
        @media all and (max-width: 720px) {
            padding: .75em .2em .75em .5em;
        }
    }
}
