// @Author: Alex Sorafumo <Yuion>
// @Date:   24/11/2016 3:43 PM
// @Email:  alex@yuion.net
// @Filename: step.styles.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:31 AM

@import '../../../shared/ui-vars';

.step {
    display: flex;
    flex-grow: 1;
    text-align: left;
    width: 100%;
}

.step-number {
    background-color: $black-light;
    border-radius: 100%;
    color: $black;
    cursor: pointer;
    height: 2em;
    margin: .25em;
    padding: .5em;
    position: relative;
    text-align: center;
    width: 2em;

    &.active {
        background-color: $orange;
        color: $white;
    }

    &.error {
        background-color: $red;
        color: $white;
    }
}

.step-bar {
    flex: 1 1 auto;
    max-width: 2em;
    min-height: 2em;
    padding: .25em 1.2em;
    position: relative;
    width: 2em;
    // height: 100%;

    .bar {
        background-color: $black-light;
        bottom: 0;
        left: 50%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(-50%);
        width: .1em;
    }
}

.step-desc {
    flex-grow: 1;
    padding: .75em 1.2em;
}

.step-content {
    flex-grow: 1;
    overflow: hidden;
    padding: .5em .5em 1em;
    text-align: center;

    @media all and (max-width: 720px) {
        padding: .75em .2em .75em .5em;
    }
}
