
<div [class]="'dropdown list' + name" widget>
    <div class="item active" (tap)="show = true">
        <div class="text">
            {{ model.active < 0 || !model.list || model.list.length <= model ? model.placeholder : model.list[model.active].name || model.list[model.active] }}
        </div>
        <div class="icon">&#709;</div>
    </div>
    <div class="search" *ngIf="model.filter" (tap)="focus()">
        <div class="icon"><div class="search-icon"></div></div>
        <div class="input"><input #input [(ngModel)]="search" (ngModelChange)="filter()"></div>
    </div>
    <div class="item placeholder">
        <div class="text">{{model.placeholder}}</div>
    </div>
    <div class="list" [class.filter]="model.filter">

        <div class="item"
            *ngFor="let item of filtered_list; let i = index"
            [class.hide]="model.hideActive&&(item.i || i)===model.active"
            (tap)="select(item.i || i)">

            <div class="text">{{ item.name || item }}</div>
            <div class="icon" *ngIf="model.active === (item.i || i)" [innerHTML]="(model.html || '&#10003;') | safe"></div>
        </div>
    </div>
</div>
