<div [class]="cssClass + ' spinner ' + type">
	<div class="spin">
		<div *ngIf="type=='plane'" class="plane">
			<div class="box" [style.background-color]="color"></div>
		</div>
		<div *ngIf="type=='bounce'" class="bounce">
			<div class="circle" [style.background-color]="color"></div>
		</div>
		<div *ngIf="type=='double-bounce'" class="double-bounce">
			<div class="circle one" [style.background-color]="color"></div>
			<div class="circle two" [style.background-color]="color"></div>
		</div>
		<div *ngIf="type=='bars'" class="bars">
			<div class="rect one" [style.background-color]="color"></div>
			<div class="rect two" [style.background-color]="color"></div>
			<div class="rect three" [style.background-color]="color"></div>
			<div class="rect four" [style.background-color]="color"></div>
			<div class="rect five" [style.background-color]="color"></div>
			<div class="rect six" [style.background-color]="color"></div>
		</div>
		<div *ngIf="type=='cubemove'" class="cubemove">
			<div class="cube one" [style.background-color]="color"></div>
			<div class="cube two" [style.background-color]="color"></div>
		</div>
		<div *ngIf="type=='dot-bounce'" class="dot-bounce">
			<div class="circle one" [style.background-color]="color"></div>
			<div class="circle two" [style.background-color]="color"></div>
			<div class="circle three" [style.background-color]="color"></div>
		</div>
		<div *ngIf="type=='dot-circle'" class="dot-circle-fade">
			<div class="dot one"   ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot two"   ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot three" ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot four"  ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot five"  ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot six"   ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot seven" ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot eight" ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot nine"  ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot ten"   ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot eleven"><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot twelve"><div class="inner" [style.background-color]="color"></div></div>
		</div>
		<div *ngIf="type=='dot-circle-scale'" class="dot-circle">
			<div class="dot one"   ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot two"   ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot three" ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot four"  ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot five"  ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot six"   ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot seven" ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot eight" ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot nine"  ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot ten"   ><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot eleven"><div class="inner" [style.background-color]="color"></div></div>
			<div class="dot twelve"><div class="inner" [style.background-color]="color"></div></div>
		</div>
	</div>
</div>
