$dim: 2.0em;
$border-color: #ABABAB;
$green: #23CE6B;
$red: #F64740;
$bg-color: #FFFFFF;

.toggle {
    box-sizing: content-box;
    padding: 0.5em;
    & .text-toggle{
        position: relative;
        height: $dim;
        width: $dim*3;
        border: 1px solid $border-color;
        border-radius: 5px;
        box-sizing: content-box;
        color: $bg-color;
        background-color: $bg-color - #222222;
        cursor: pointer;
        & .text{
            position: absolute;
            box-sizing: content-box;
            padding:0.5em;
            width:40%;
            text-align: center;
            &.active {

            }
            &.inactive {
                right:0;
            }
        }
        &.active {
            background-color: $green;
        }
        &.inactive {
            background-color: $red;
        }
        & .toggle-knob{
            position:absolute;
            width:50%;
            height:92%;
            border: 1px solid $border-color;
            border-radius: 5px;
            background-color: $bg-color;
            left: 0;
        }
    }

    & .image-toggle{
        width: $dim;
        height: $dim;
        cursor: pointer;
        & .toggle-img{
            max-width: 100%;
            max-height: 100%;
        }
    }

    & .icon-toggle{
        position: relative;
        width: $dim;
        height: $dim;
        cursor: pointer;
        & .toggle-icon {
            position: relative;
            width: 100%;
            height: 100%;
            border: 2px solid $border-color;
            &.circle {
                border-radius: 100%;
            }
            &.square {
                border-radius: 5px;
            }
        }

        & .icon{
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            margin: auto;
            text-align: center;
            font-size: 150%;
            & .icn-yes {
                color: $green;
            }
            & .icn-no {
                color: $red;
            }
        }
    }

    & .ios-toggle {
        position:relative;
        width: $dim*1.5;
        height: $dim;
        border-radius: $dim;
        border: 1px solid $border-color;
        background-color: $bg-color;
        cursor: pointer;
        & .toggle-knob {
            position:absolute;
            height: 90%;
            width: 60%;
            top: 2.5%;
            left: 2.5%;
            background-color: $bg-color;
            border: 1px solid $border-color;
            border-radius: $dim;
        }
        &.active {
            background-color: $green;
        }
        &.inactive {
            background-color: $red;
        }
    }
}
