<div #displayarea class="aca interactive-map" (window:resize)="resize()">
    <div #maparea *ngIf="active" class="map-contents" [style.display]="(loading || !map_data)?'none':'inherit'">
		<div class="pins"> 
			<div class="pin" *ngFor="let pin of pins;let i = index;">
				<div class="pin" [@pin]="pin.status ? pin.status : 'hide'" [id]="'aca-map-pin' + i ">
					<div *ngIf="pin.text" class="text">{{pin.text}}</div>
				</div>
			</div>
		</div>
        <div #mapdisplay class="map-area" [@zoom]="zoom_state"></div>
    </div>
	<div *ngIf="loading" class="map-loading-space">
		<spinner type="dot-circle" color="#000"></spinner>
	</div>
	<div *ngIf="!loading && !map_data" class="map-loading-space" [style.font-size]="'1.5em'">
		Map not found!
	</div>
    <div class="map-controls" *ngIf="controls&&!loading">
        <div class="zoom-btn" (click)="zoomIn()" >+</div>
        <div class="zoom-btn" syle="font-size:0.7em;" (click)="resetZoom()">{{(100 + zoom).toFixed(0) + '%'}}</div>
        <div class="zoom-btn" (click)="zoomOut()">-</div>
    </div>
</div>
