<div #displayarea class="aca interactive-map" (window:resize)="resize()">
    <div #maparea [@showmap]="(!loading && map_data)?'show':'hide'" *ngIf="active" class="map-contents">
		<div class="pins">
			<div class="pin" *ngFor="let pin of pins;let i = index;">
				<div class="pin" [@pin]="pin.status === 'show' ? 'show' : 'hide'" [id]="'aca-map-pin' + i ">
					<div *ngIf="pin.text&&pin.text!==''" class="text">{{pin.text}}</div>
				</div>
			</div>
		</div>
        <div #mapdisplay class="map-area" [@zoom]="zoom_state" (tap)="tapMap($event)" (pinchstart)="startScale($event)" (pinch)="scaleMap($event)" (pinchend)="finishScale()" (panmove)="moveMap($event)" (panend)="moveEnd($event)"></div>
    </div>
	<div *ngIf="loading" class="map-loading-space">
		<spinner type="dot-circle" color="#000"></spinner>
	</div>
	<div *ngIf="!loading && !map_data" class="map-loading-space" [style.font-size]="'1.5em'">
		Map not found!
	</div>
    <div class="map-controls" *ngIf="controls&&!loading">
        <div class="zoom-btn" (click)="zoomIn()" >+</div>
        <div class="zoom-btn" syle="font-size:0.7em;" (click)="resetZoom()">{{(100 + zoom).toFixed(0) + '%'}}</div>
        <div class="zoom-btn" (click)="zoomOut()">-</div>
    </div>
</div>
