
<div [class]="'map ' + id" widget (window:resize)="initMap(true)">
    <div #container class="map-container" [class.focus-lock]="focus?.lock">
        <div #map class="map-area"
            [style.transform]="state.transform | safestyle"
            [style.width]="(100 * state.scale - 10) + '%'"
            [style.height]="(100 * state.scale - 10) + '%'"
            [style.display]="state.loading ? 'none' : ''"
            map-input [(scale)]="zoom" (scaleChange)="update(true)"
            [(center)]="center" (centerChange)="update(true)"
            (event)="userEvent($event)">

            <div #img class="map-img" [innerHTML]="(state.map || '') | safe">
            </div>
            <!--div class="input-area"
                map-input [(scale)]="zoom" (scaleChange)="update(true)"
                [(center)]="center" (centerChange)="update(true)"
                (event)="userEvent($event)">
            </div-->
            <map-overlay-container
                [model]="interest_points"
                [el]="map"
                [state]="{ center: center, scale: (100 + zoom) / 100, ratio: ratio.map }"
                [resize]="zoom + state.map_id"
                (event)="overlayEvent($event)"
                (idChange)="state.container_id = $event">
            </map-overlay-container>
        </div>
        <div class="no-map" *ngIf="!state.map&&!state.loading">No map loaded!</div>
        <div class="loading-spinner" *ngIf="state.loading">
            <div class="icon"></div>
        </div>
    </div>
</div>
