$dim: 2.0em;
$border-color: #ABABAB;
$green: #23CE6B;
$red: #F64740;
$bg-color: #FFFFFF;

.tab-group {
    z-index: inherit;
    & .tab-header {
        overflow-x: auto;
        overflow-y: visible;
        & ul {
            padding: 0 1.0em;
            margin-bottom: 0;
            list-style: none;
            white-space: nowrap;
            display:flex;
            & > li {
                position: relative;
                bottom: -1px;
                padding: 0.5em 1.5em;
                border-radius: 5px 5px 0 0;
                &.active {
                    border-bottom: none;
                }
                &:nth-child(n+2) {
                	border-left: none;
                }

            }
			&.default {
        		border-bottom: 1px solid #ddd;
            	& > li {
                	border: 1px solid #ddd;
	                &.active {
	                    &:hover {
	                        background-color: $bg-color;
	                    }
	                }
	                &:hover{
	                    background-color: $bg-color - #222222;
	                }
                }
            }
        }
    }
    & .tab-contents{
        & .tab-head{
            display: hidden;
        }
    }
}
