/*
 * @Author: Alex Sorafumo
 * @Date:   2017-03-29 09:30:47
 * @Last Modified by:   Alex Sorafumo
 * @Last Modified time: 2017-05-04 14:20:08
 */

$circle-background: #cfd8dc;
$circle-color: #2196f3;
$circle-size: 10;
$transition-length: 1s;
$increment: 180deg / 1000;

div.radial-progress {
      position: relative;
      background-color: $circle-background;
      height: $circle-size;
      width: $circle-size;
      border-radius: 50%;
      margin: .25em auto;
      & .circle {
          & .fill, & .mask {
            position: absolute;
              border-radius: 50%;
              height: $circle-size;
              width: $circle-size;
            transition: transform $transition-length;
            -webkit-backface-visibility: hidden;
          }

          & .fill {
            background-color: $circle-color;
          }

          & .mask {
              background-color: $circle-background;
          }

          & .mask.half {
              clip: rect(0, $circle-size, $circle-size, $circle-size/2);
              & .fill {
                clip: rect(0, $circle-size, $circle-size, 0);
              }
          }
          //*
          & .mask.full {
            clip: rect(0, $circle-size/2, $circle-size, 0);
              & .fill {
                  clip: rect(0, $circle-size, $circle-size, $circle-size/2);
              }
          }
          //*/
          & .shadow {
            position: absolute;
              border-radius: 50%;
              height: $circle-size;
              width: $circle-size;
          }
      }

      & .inset {
          height: $circle-size - 1.0;
          width: $circle-size - 1.0;
        position: absolute;
        margin: .5em;
        border-radius: 50%;
        background-color: #ffffff;
      }
}
