/*
* @Author: Alex Sorafumo
* @Date:   2017-05-05 13:01:17
* @Last Modified by:   Alex Sorafumo
* @Last Modified time: 2017-05-05 14:22:12
*/

/*=========================*\
||      Font Colours       ||
\*=========================*/

$green: #4caf50;
$blue: #2196f3;
$red: #f44336;

$black: rgba(0, 0, 0, .87);
$black-hover: rgba(0, 0, 0, .54);
$black-light: rgba(0, 0, 0, .2);

$white: #ffffff;
$white-hover: rgba($white, .54);
$white-light: rgba($white, .2);
