<!--
@Author: Alex Sorafumo <alex.sorafumo>
@Date:   09/01/2017 12:22 PM
@Email:  alex@yuion.net
@Filename: maker.template.html
@Last modified by:   alex.sorafumo
@Last modified time: 13/01/2017 12:40 PM
-->

<div class="map-marker" [style.left]="x+'px'" [style.top]="y+'px'" [@show]="show ? 'show' : 'hide'">
    <div class="group">
        <div #area class="contents">
            <div #content [innerHTML]="html | safe"></div>
        </div>
        <div class="triangle">
            <div class="square"></div>
        </div>
    </div>
</div>
