// @Author: Alex Sorafumo <alex.sorafumo>
// @Date:   09/01/2017 12:55 PM
// @Email:  alex@yuion.net
// @Filename: marker-group.styles.scss
// @Last modified by:   alex.sorafumo
// @Last modified time: 10/01/2017 10:05 AM

.marker-group {
    font-size: 1.2em;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 11;
}
