<!--
@Author: Alex Sorafumo <alex.sorafumo>
@Date:   09/01/2017 12:55 PM
@Email:  alex@yuion.net
@Filename: marker-group.template.html
@Last modified by:   alex.sorafumo
@Last modified time: 16/01/2017 12:43 PM
-->

<div #main class="marker-group">
    <div class="marker" *ngFor="let rgn of regions;let i = index;">
        <map-info-display
            [region]="rgn"
            [data]="rgn.data"
            [cmp]="rgn.cmp"
            [html]="rgn.html"
            [show]="rgn.show"
            [x]="rgn.left"
            [y]="rgn.top">
        </map-info-display>
    </div>
</div>
