<!--
@Author: Alex Sorafumo <Yuion>
@Date:   13/09/2016 3:46 PM
@Email:  alex@yuion.net
@Filename: btn.template.html
@Last modified by:   alex.sorafumo
@Last modified time: 20/01/2017 2:45 PM
-->

<div class="aca btn" [class.disabled]="disabled">
	<div #btnContainer
		(mouseover)="addHover()"
		(mouseout)="removeHover()"
		(mousedown)="addActive()"
		(mouseup)="removeActive()" [class]="btnType" >
		<button #btn class="aca" [class.disabled]="disabled" (click)="clicked()">
			<div [class.center]="action_btn">
				<ng-content></ng-content>
			</div>
			<div [@clickResp]="click_state" class="circle"></div>
		</button>
	</div>
</div>
