
@import '~bourbon/app/assets/stylesheets/bourbon';

$sm-height: 15.0em;
$space: 2.2em;

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
	font-size: 20px;
	z-index: 2000;
	opacity: 0;

	& .modal-space {
	    position: absolute;
	    top: 50%;
	    left: 50%;
		@include transform(translate(-50%, -50%));
		background-color: #FFF;
		border-radius: 0.1em;
		max-height: 95vh;
		max-width: 95vw;
		opacity: 0;
		& .modal {
			&-header {
				position: absolute;
				top: 0; left: 0;
				right: 0; height: $space;
				padding: 0.5em 1.0em;
				font-size: 1.5em;
				border-radius: 0.1em 0.1em 0 0;
				//text-align: center;
				& .close-btn {
					position: absolute;
					top: 0.25em;
					right: 0.5em;
					color: #FFF;
					cursor: pointer;
					&:hover {
						color: #CCC;
					}
				}
				z-index: 2020;
			}
			&-body {
				max-height: 90vh;
				max-width: 90vw;
				overflow: auto;
				font-size: 1.0em;
				z-index: 2010;
				& .content {
					padding: ($space + 1.0em) 1.0em;
				}
			}
			&-footer {
				position: absolute;
				height: $space + 0.5em; left: 0;
				right: 0; bottom: 0;
				padding: 0.5em;
				text-align: right;
				background-color: #FFF;
				white-space: nowrap;
				border-top: 1px solid rgba(0,0,0,0.3);
				border-radius: 0 0 0.1em 0.1em;
				z-index: 2020;
				& .modal-btns {
					display: inline-block;
					text-align: center;
					padding: 0.2em;
					& .modal-btn {
						outline: none;
						border: none;
						padding: 0.5em 2.0em;
						border-radius: 0.2em;
						background-color: #273043;
						color: #FFF;
						font-size: 0.75em;
						cursor: pointer;
						&:hover {

						}
					}
				}
			}
		}
	}
}


@media only screen and (max-device-width: 720px){
	.modal {
		font-size: 15px;
	}
}
