<div  [@backdrop]="state" [class]="'aca modal ' + cssClass" (click)="onPointer($event)" (touchend)="onPointer($event)">
	<div #modal class="modal-container" 
			[@space]="state"
			[class.sm]="size==='small'" 
			[class.lg]="size==='large'">
		<div class="modal-space">
			<form class="modal-form">
				<div class="modal-header"
					[style.background-color]="color1" 
					[style.color]="color2" >
					{{title}}
					<div *ngIf="close" class="close-btn" (click)="close_fn()">
						&#x2613;
					</div>
				</div>
				<div class="modal-body">
					<div #content class="content">
					</div>
				</div>
				<div class="modal-footer">
					<div class="modal-btns" *ngFor="let btn of options">
						<button type="submit" [style.background-color]="color1" [style.color]="color2" class="modal-btn"(click)="select(btn)">{{btn.text}}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>