<!--
@Author: Alex Sorafumo
@Date:   19/09/2016 3:15 PM
@Email:  alex@yuion.net
@Filename: modal.template.html
@Last modified by:   Alex Sorafumo
@Last modified time: 16/12/2016 10:03 PM
-->

<div [id]="id ? id : 'modal'"
	[@backdrop]="state ? 'show' : 'hide'"
	[class]="'aca modal' + (cssClass ? ' ' + cssClass : '')">
	<div class="tap-space" (tap)="onPointer($event)"></div>
	<div #modal class="modal-space"
			[@space]="state_inner ? 'show' : 'hide'"
			[ngStyle]="{'width': display_width + unit, 'top': display_top }">
		<div class="modal-body">
			<div class="content"><div #content></div></div>
		</div>
	</div>
</div>
