// @Author: Alex Sorafumo <Yuion>
// @Date:   26/09/2016 4:32 PM
// @Email:  alex@yuion.net
// @Filename: modal.style.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:30 AM

$sm-height: 15.0em;
$space: 2.2em;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
    font-size: 20px;
    z-index: 2000;
    opacity: 0;
    & .tap-space {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    & .modal-space {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: #FFF;
        border-radius: .1em;
        min-height: 10em;
        max-height: 90vh;
        max-width: 95vw;
        @media screen and (max-width: 720px) {
            width: 101% !important;
            height: 101% !important;
            max-width: 101vw;
            max-height: 101vh;
            border-radius: 0;
        }
        & .modal {
            &-header {
                position: absolute;
                top: 0; left: 0;
                right: 0; height: $space;
                padding: .5em 1.0em;
                font-size: 1.5em;
                border-radius: .1em .1em 0 0;
                //text-align: center;
                & .close-btn {
                    position: absolute;
                    top: .25em;
                    right: .5em;
                    color: #FFF;
                    cursor: pointer;
                    &:hover {
                        color: #CCC;
                    }
                }
                z-index: 2020;
            }
            &-body {
                overflow: auto;
                font-size: 1.0em;
                z-index: 2010;
                & .content {
                }
            }
            &-footer {
                position: absolute;
                height: $space + .5em; left: 0;
                right: 0; bottom: 0;
                padding: .5em;
                text-align: right;
                background-color: #FFF;
                white-space: nowrap;
                border-top: .1em solid rgba(0,0,0,.1);
                border-radius: 0 0 .1em .1em;
                z-index: 2020;
                & .modal-btns {
                    display: inline-block;
                    text-align: center;
                    padding: .2em;
                    & .modal-btn {
                        outline: none;
                        border: none;
                        padding: .5em 2.0em;
                        border-radius: .2em;
                        background-color: #273043;
                        color: #FFF;
                        font-size: .75em;
                        cursor: pointer;
                        &:hover {

                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-device-width: 720px) {
    .modal {
        font-size: 15px;
    }
}
