<!--
@Author: Alex Sorafumo <Yuion>
@Date:   19/09/2016 3:15 PM
@Email:  alex@yuion.net
@Filename: modal.template.html
@Last modified by:   Yuion
@Last modified time: 15/12/2016 11:31 AM
-->

<div [id]="id ? id : 'modal'"
	[@backdrop]="state ? 'show' : 'hide'"
	[class]="'aca modal' + (cssClass ? ' ' + cssClass : '')">
	<div class="tap-space" (tap)="onPointer($event)"></div>
	<div #modal class="modal-space" [@space]="state_inner ? 'show' : 'hide'"
			[style.width]="display_width + unit">
		<div class="modal-body">
			<div class="content"><div #content></div></div>
		</div>
	</div>
</div>
