<div [class]="'aca slider ' + cssClass" (window:resize)="resize()">
    <div #space class="slider-block" [class.vertical]="align==='vertical'">
        <!-- Vertical Slider -->
        <div #bar class="slider-bar aca-slider-c1" (tap)="clickSlider($event)" (press)="moveSlider($event)" (pan)="moveSlider($event)">
            <div #prog class="slider-progress aca-slider-c2"></div>
            <div #knob class="slider-knob aca-slider-c3" (press)="moveSlider($event)" (pan)="moveSlider($event)"></div>
        </div>
    </div>
</div>
