<!--
@Author: Alex Sorafumo <Yuion>
@Date:   13/09/2016 2:55 PM
@Email:  alex@yuion.net
@Filename: slider.template.html
@Last modified by:   Yuion
@Last modified time: 15/12/2016 11:29 AM
-->

<div [class]="'aca slider ' + cssClass" (window:resize)="resize()">
    <div #space class="slider-block" [class.vertical]="align==='vertical'">
        <!-- Vertical Slider -->
        <div #bar class="slider-bar aca-slider-c1" (tap)="clickSlider($event)" (press)="moveSlider($event)" (pan)="moveSlider($event)">
            <div #prog class="slider-progress aca-slider-c2"></div>
            <div #knob class="slider-knob aca-slider-c3" (press)="moveSlider($event)" (pan)="moveSlider($event)"></div>
        </div>
    </div>
</div>
