<!--
@Author: Alex Sorafumo <Yuion>
@Date:   13/09/2016 2:55 PM
@Email:  alex@yuion.net
@Filename: dropdown.template.html
@Last modified by:   Yuion
@Last modified time: 15/12/2016 11:29 AM
-->

<div #main [class]="'aca dropdown '" >
	<div #box class="box">
		<div #text class="text"
			(mouseup)="type==='segmented' ? removeActive() : ''">
			<span  *ngIf="type!=='editable'">
				{{ parseInt(selected) !== NaN && options.length > parseInt(selected) ? options[parseInt(selected)] : '-----'}}
			</span>
			<input *ngIf="type==='editable'" type="text" [(ngModel)]="value" (blur)="finishedInput()" (keyup)="updateInput()" />
		</div>
		<div #caret class="caret"
			[class.hover]="caret_hover"
			(mouseover)="caret_hover=true"
			(mouseout)="caret_hover=false"
			(click)="open(true)">
			{{show ? '&#9650;' : '&#9660;'}}
		</div>
		<div #contents *ngIf="show" class="contents aca layer modal-one" [class.top]="top===true" [class.bottom]="top===false">
			<div #list class="options">
				<ul #listView [class]="classes">
					<li [class]="'option ' + cssClass"
						*ngFor="let item of options; let i = index"
						[class.first]="i==0"
						[class.last]="i==options.length-1"
						[class.other]="i > 0"
						[class.odd]="i%2===1"
						[class.even]="i%2===0"
						(click)="setOption($event, i)"
						(touchend)="setOption($event, i)">
							<div class="check">{{selected === i.toString() ? '&#x2713;' : ''}}</div>{{item}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
