// @Author: Alex Sorafumo <Yuion>
// @Date:   13/09/2016 2:55 PM
// @Email:  alex@yuion.net
// @Filename: dropdown.style.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:29 AM

@import '../../../shared/ui-vars';

.dropdown {
    border-radius: .1em;
    font-size: 1em;
    margin: .5em;
    min-height: 2em;
    min-width: 12em;
    position: relative;
    text-align: center;
    // z-index: 100;
}

.item {
    cursor: pointer;
    overflow: hidden;
    padding: .4em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    .field {
        padding: 0 .5em;
    }

    &.active {
        text-align: center;
    }
}

.list {
    border-radius: .1em;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1999;
    margin-bottom: 0.5em;

    .items {
        max-height: 30vh;
        overflow: auto;
    }
}

.default {
    background-color: $white;
    box-shadow: 0 .1em .2em .1em $black-light;
    color: $black;

    &:hover {
        box-shadow: 0 .1em .2em .1em $black-hover;
    }

    .item {

        &:hover {
            background-color: $blue;
            color: $white;
        }

        &.active {
            background-color: $white;
            border-bottom: 1px solid $black-light;
            color: $black;
            cursor: default;
        }
    }

    .list {
        background-color: $white;
        box-shadow: 0 .1em .2em .1em $black-light;
        color: $black;
        overflow: hidden;
    }

}
