<!--
@Author: Alex Sorafumo <Yuion>
@Date:   16/09/2016 10:42 AM
@Email:  alex@yuion.net
@Filename: dropdown.template.html
@Last modified by:   Yuion
@Last modified time: 15/12/2016 11:29 AM
-->

<div #main [class]="'aca dropdown ' + cssClass" >
	<div class="item active" [@show]="shown ? 'hide': 'show'" (tap)="toggle()">
		<div class="inner" *ngIf="model&&model!==''">
			<div *ngIf="type==='object'">
				<span *ngFor="let f of fields; let k = index " class="field" [id]="'active-dropdown-item-field'+k" [innerHTML]="model[f]"></span>
			</div>
			<div class="field" *ngIf="type!=='object'">{{model}}</div>
		</div>
		<div class="inner field" *ngIf="!model||model===''">{{placeholder}}</div>
	</div>
	<div #list class="list" [@showlist]="shown ? 'show': 'hide'">
		<div class="item active" (tap)="shown=!shown">
			<div class="inner" *ngIf="model&&model!==''">
				<div *ngIf="type==='object'">
					<span *ngFor="let f of fields; let k = index " class="field" [id]="'active-dropdown-item-field'+k" [innerHTML]="model[f]"></span>
				</div>
				<div class="field" *ngIf="type!=='object'">{{model}}</div>
			</div>
			<div class="inner field" *ngIf="!model||model===''">{{placeholder}}</div>
		</div>
		<div hidden *ngIf="shown" (window:tap)="checkTap($event)"></div>
		<div class="items">
			<div class="item" *ngFor="let item of display_items; let i = index " (tap)="select(i)">
				<div *ngIf="type==='object'">
					<span *ngFor="let f of fields; let k = index " class="field" [id]="'dropdown-item'+i+'-field'+k" [innerHTML]="item[f]"></span>
				</div>
				<div class="field" *ngIf="type!=='object'">{{item}}</div>
			</div>
		</div>
	</div>
</div>
