// @Author: Alex Sorafumo <Yuion>
// @Date:   28/10/2016 11:24 AM
// @Email:  alex@yuion.net
// @Filename: virtual-keyboard.style.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:32 AM

.virtual-keyboard {
    position: fixed;
    z-index: 9999;
    &.standard {
        //top: 1.0;
        left: 50%;
        transform: translateX(-50%);
    }
    & .topbar {
        text-align: right;
        padding: .25em .5em .5em .5em;
        cursor: grab;
        &:active {
            cursor: grabbing;
        }
        & .close {
            display: inline-block;
            cursor: pointer;
            &:hover {
                color: rgba(0, 0, 0, .54);
            }
        }
    }

    & .keyboard {
        background-color: #ffffff;
        box-shadow: 0 .1em .2em .1em rgba(0, 0, 0, .2);
        border-radius: .2em;
        padding: .25em;
        margin: .5em;
        z-index: 9999;
        text-align: center;
        font-size: 1.2em;
        @media screen and (max-width: 720px) {
            font-size: 1.5em;
        }
        &.simple {
            box-shadow: none;
        }
        &.left {
            position: fixed;
            left: 0;
            top: 30%;
        }
        &.right {
            position: fixed;
            right: 0;
            top: 30%;
        }
        & .row {
            display: flex;
            align-items: center;
            justify-content: center;
            & .key {
                background-color: #ffffff;
                box-shadow: 0 .1em .2em .1em rgba(0, 0, 0, .2);
                border-radius: .2em;
                padding: .5em 1.0;
                margin: .25em;
                height: 2.2em;
                font-size: 1.0;
                cursor: pointer;
                &.normal {
                    width: 2.5em;
                    padding: .5em .75em;
                }
                &:hover {
                    background-color: #dddddd;
                }
                &:active {
                    box-shadow: 0 .1em .2em .1em rgba(0, 0, 0, .1);
                }
                &.active {
                    background-color: #4caf50;
                    color: #ffffff;
                }
            }
        }
    }
}
