<!--
@Author: Alex Sorafumo <Yuion>
@Date:   13/09/2016 2:55 PM
@Email:  alex@yuion.net
@Filename: data-input.template.html
@Last modified by:   Yuion
@Last modified time: 15/12/2016 11:29 AM
-->

<div class="aca input" [style.width]="width?_width+'em':''" [class.editable]="!disabled&&!readonly">
	<div (click)="focusInput()"
		[class]="'input-space ' + theme + ' aca color ' + (focus ? 'border-' + color + '-' + primary : '')"
		[class.disabled]="disabled"
		[class.readonly]="readonly"
		[class.border-red-C500]="error"
		[class.border-green-C500]="success">
		<div
			[class]="'placeholder ' + (focus ? '' : (icon ? iconSide + ' ' : '' )) +
			(error ? 'aca color font-red-C500' :
				(success ? 'aca color font-green-C500' :
					(focus ? 'aca color font-' + color + '-' + primary : '')) )"
			[@fieldText]="checkFocus()"
			[class.editable]="!disabled&&!readonly">
			{{placeholder}}{{required?'*':''}}
		</div>
		<div [class]="'icon ' + (focus ? ' aca color font-' + color + '-' + primary : '')" *ngIf="icon && iconSide!=='right'" >
			<ng-content></ng-content>
		</div>
		<div class="input" [class.icon]="icon" [style.width]="width?(_width - (icon?1.2:0))+'em':''">
			<input
				#input
				class="text"
				[name]="name"
				[type]="is_password && !view ? 'password' : (is_number?'tel':'text')"
				[class.right]="icon && iconSide==='right'"
				[class.left]="icon && iconSide==='left'"
				[class.editable]="!disabled&&!readonly"
				[(ngModel)]="display_text"
				(blur)="blurInput(); validateInput()"
				(keyup)="keypress($event);"
				[disabled]="disabled"
				[style.width]="width?_width+'em':''"/>
		</div>
		<div [class]="'icon aca color ' + (focus ? ' font-' + color + '-' + primary : '')" *ngIf="icon && iconSide==='right'" >
			<ng-content></ng-content>
		</div>
	</div>
	<div class="info-space">
		<div [class]="'message aca color ' + (error ? 'font-red-C500' : (success ? 'font-green-C500' : ''))">{{info_display}}</div>
		<div [class]="'counter ' + (error ? 'aca color font-red-C500' : '')" *ngIf="type==='text' && max && max > 0">{{clean_text ? clean_text.length : '0'}}/{{max}}</div>
	</div>
</div>
