
$green: #23CE6B;
$red: #F64740;

.aca {
	&.input {
		position: relative;
		display: inline-block;
		padding: 0.1em;
		font-size: 1.2em;
		& .error { color: $red; border-color: $red; }
		& .valid { color: $green; border-color: $green; }
		& .input-space {
			position: relative;
			display: inline-block;
			padding: 0.2em 0 0.1em 0;
			&.light {
				color: rgba(0,0,0,0.4);
				border-bottom: 0.1em solid rgba(0,0,0,0.4);
				&.disabled {
					border-bottom: 0.1em dotted rgba(0,0,0,0.4);
				}
				&.readonly {
					border-bottom: 0.1em dashed rgba(0,0,0,0.4);
				}

				& input.text {
					color: rgba(0,0,0,0.8);
					width: 100%;
				}
			}
			&.dark {
				color: rgba(255,255,255,0.4);
				border-bottom: 0.1em solid rgba(255,255,255,0.4);
				&.disabled {
					border-bottom: 0.1em dotted rgba(255,255,255,0.4);
				}
				&.readonly {
					border-bottom: 0.1em dashed rgba(255,255,255,0.4) !important;
				}
				& input.text { color: rgba(255,255,255,0.8); }
			}
			cursor: text;
			&.disabled {
				cursor: not-allowed;
			}
			& .placeholder {
				position: absolute;
				top: 0.2em;
				left: 0;
				font-size: 1.0em;
				&.left {
					left: 1.5em;
				}
			}

			& input.text {
				font-size: 1.0em;
				outline: none;
				border: none;
				margin: 0;
				padding: 0;
				background: none;
				&.left {
					padding-left: 1.5em;
				}
				&.right {
					padding-right: 1.5em;
				}
			}

			& .icon {
				position: absolute;
				top: 0.2em;
				&.left {
					left: 0;
				}
				&.right {
					right: 0;
				}
			}
		}
		& .info-space {
			padding: 0.2em 0;
			font-size: 0.6em;
			& .message {
				display: inline-block;
				float: left;
				width: 69%;
				text-align: left;
			}

			& .counter {
				display: inline-block;
				float: right;
				text-align: right;
				width: 30%;
			}
		}
	}
}
