// @Author: Alex Sorafumo
// @Date:   26/09/2016 5:09 PM
// @Email:  alex@yuion.net
// @Filename: simple-modal.styles.scss
// @Last modified by:   Alex Sorafumo
// @Last modified time: 20/12/2016 10:12 AM

$sm-height: 15.0em;
$space: 2.2em;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    font-size: 1.0em;
    z-index: 2000;
    opacity: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    & .tap-space {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    & .modal-space {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: #FFF;
        border-radius: 0.1em;
        min-height: 12.0em;
        max-height: 95vh;
        max-width: 95vw;
        & .modal {
            &-header {
                position: absolute;
                top: 0; left: 0;
                right: 0; height: $space;
                padding: 0.5em 1.0em;
                font-size: 1.5em;
                border-radius: 0.1em 0.1em 0 0;
                display: flex;
                align-items: center;
                & .text {
                    flex-grow: 1;
                }
                //text-align: center;
                & .close-btn {
                    height: 1.2em;
                    width: 1.2em;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    cursor: pointer;
                    &:hover {
                        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJyZ2JhKDI1NSwyNTUsMjU1LDAuNTQpIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=);
                    }
                }
                z-index: 2020;
            }
            &-body {
                max-height: 90vh;
                max-width: 90vw;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                font-size: 1.0em;
                z-index: 2010;
                margin: auto;
                & .content {
                    padding: ($space + 1.0em) 1.0em;
                }
            }
            &-footer {
                position: absolute;
                height: $space + 0.8em; left: 0;
                right: 0; bottom: 0;
                padding: 0.2em;
                text-align: right;
                background-color: #FFF;
                white-space: nowrap;
                border-top: 0.05em solid rgba(0,0,0,0.1);
                border-radius: 0 0 0.1em 0.1em;
                z-index: 2020;
                & .modal-btns {
                    display: inline-block;
                    text-align: center;
                    font-size: 0.8em;
                    & .modal-btn {
                        outline: none;
                        border: none;
                        padding: 0.5em 2.0em;
                        border-radius: 0.2em;
                        background-color: #273043;
                        color: #FFF;
                        font-size: 0.75em;
                        cursor: pointer;
                        box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.1);
                        &:hover {
                            box-shadow: 0 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
                        }
                        &:active {
                            color: rgba(255,255,255,0.54);
                            box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.75);
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-device-width: 720px){
    .modal {
        font-size: 15px;
    }
}
