<div  [@backdrop]="state ? 'show' : 'hide'" [class]="'aca modal ' + cssClass" (click)="onPointer($event)" (scroll)="blockScroll($event)" (touchend)="onPointer($event)">
	<div #modal class="modal-space" [@space]="state_inner ? 'show' : 'hide'"
			[style.width]="(large ? 2.5 * width : width) + unit">
		<div class="modal-header title" [style.background-color]="color1" [style.color]="color2" >
			{{title}}
			<div *ngIf="close" class="close-btn" (click)="close_fn()">
				&#x2613;
			</div>
		</div>
		<div class="modal-body">
			<div class="content"><div #content></div></div>
		</div>
		<div class="modal-footer">
			<div class="modal-btns" *ngFor="let btn of options">
				<button type="submit" [style.background-color]="color1" [style.color]="color2" class="modal-btn"(click)="select(btn)">{{btn.text}}</button>
			</div>
		</div>
	</div>
</div>
