<div #main [class]="'aca dropdown ' + cssClass" (click)="open()">
	<div class="text">{{options[selected] ? options[selected] : '-----'}}</div>
	<div *ngIf="show" #contents class="contents">
		<div #list class="options">
			<ul #listview>
				<li [class]="'option ' + cssClass"
					*ngFor="let item of options; let i = index"
					[class.first]="i==0"
					[class.last]="i==options.length-1"
					[class.other]="i > 0"
					[class.odd]="i%2===1"
					[class.even]="i%2===0"
					(click)="setOption(i, $event)"
					(touchend)="setOption(i)">
						<div class="check">{{selected === i ? '&#x2713;' : ''}}</div>{{item}}
				</li>
			</ul>
		</div>
	</div>
</div>
