// @Author: Alex Sorafumo
// @Date:   16/09/2016 10:29 AM
// @Email:  alex@yuion.net
// @Filename: dropdown.style.scss
// @Last modified by:   Alex Sorafumo
// @Last modified time: 19/12/2016 12:44 PM

.dropdown {
	position: relative;
	min-width: 12.0em;
	height: 2.5em;
	padding: 0.5em 2.0em;
	user-select: none;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
	border-radius: 0.1em;
	& .text {
		&.placeholder {
			position: absolute;
			opacity: 0.001;
		}
	}

	&.default {
		color: #000;
		border: 0.2em solid rgba(0, 0, 0, 0.7);
		&:hover, & .active{
			background-color: rgba(0, 0, 0, 0.2);
			color: #FFF;
		}
	}
}
