// @Author: Alex Sorafumo <Yuion>
// @Date:   16/09/2016 10:29 AM
// @Email:  alex@yuion.net
// @Filename: dropdown.style.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:29 AM

.dropdown {
	position: relative;
	min-width: 12.0em;
	height: 2.5em;
	border-radius: 0.1em;
	padding: 0.5em 2.0em;
	border: 0.2em solid rgba(0, 0, 0, 0.7);
	user-select: none;
	display: inline-block;
	overflow: hidden;
	& .text {
		&.placeholder {
			position: absolute;
			opacity: 0.001;
		}
	}

	&.default {
		color: #000;
		&:hover, & .active{
			background-color: rgba(0, 0, 0, 0.2);
			color: #FFF;
		}
	}
}
