// @Author: Alex Sorafumo <Yuion>
// @Date:   13/09/2016 2:55 PM
// @Email:  alex@yuion.net
// @Filename: btn-group.styles.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:28 AM

div.btn-group {
    display: inline-flex;
    border-radius: .1em;
    box-shadow: 0 .1em .2em .1em rgba(0, 0, 0, .2);
    margin: .5em;
    & .btn-obj {
        min-width: 8.0;
        padding: .5em 1.0;
        cursor: pointer;
        border-left: 1px solid rgba(0, 0, 0, .2);
        border-right: 1px solid rgba(0, 0, 0, .2);
        &.active {

        }
        &.inactive {
            background-color: #e0e0e0;
            &:hover {
                background-color: #bdbdbd;
            }
        }

        &:first-child {
            border-radius: .1em 0 0 .1em;
            border-left: none;
        }

        &:last-child {
            border-radius: 0 .1em .1em 0;
            border-right: none;
        }
    }

    & .default {

    }
}
