
@import '../../../shared/ui-vars';

.notification {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4000;
    pointer-events: auto;
}

.content {
    margin: .5em;
    padding: .5em .75em;
    min-width: 12em;
    height: 4em;
    display: flex;
    align-items: center;
    color: $black;
    background-color: $white;
    box-shadow: 0 .1em .2em .1em $black-o20;
}

.error {
    color: $white;
    background-color: $red;
}

.warn {
    color: $black;
    background-color: $orange;
}

.info {
    color: $black;
    background-color: $blue;
}
