// @Author: Alex Sorafumo
// @Date:   07/02/2017 1:47 PM
// @Email:  alex@yuion.net
// @Filename: tooltip.styles.scss
// @Last modified by:   Alex Sorafumo
// @Last modified time: 07/02/2017 4:06 PM

@import '../../shared/ui-vars';

$faded: rgba(0,0,0,0.1);
$tri-size: 24px;

.tooltip {
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    z-index: 1000;

    &.top {
        top: -100%;
    }

    &.left {
        left: -100%;
        top: 50%;
        transform: translateY(-50%);
    }

    &.right {
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.block {
    height: .5em;
    position: relative;
    width: 1.5em;

    .triangle {
        height: $tri-size / 2;
        overflow: hidden;
        position: absolute;
        width: $tri-size * 1.5;

        .square {
            border: 1px solid $faded;
            border-radius: .1em;
            box-shadow: 05em 05em .35em 05em $black-light;
            height: $tri-size;
            left: $tri-size / 4;
            position: relative;
            top: $tri-size / 4;
            transform: rotate(45deg);
            width: $tri-size;
        }
    }

    .contents {
        border-radius: .1em;
        box-shadow: 0 .1em .2em .1em $black-light;
        min-height: 1.5em;
        min-width: 1.5em;
        position: absolute;
        top: $tri-size / 2;
    }
}

.default {

    .block {

        .square {
            background-color: $white;
        }

        .contents {
            background-color: $white;
            color: $black;
        }
    }

    &.dark .block {

        .square {
            background-color: $black;
        }

        .contents {
            background-color: $black;
            color: $black;
        }
    }
}
