// @Author: Alex Sorafumo <Yuion>
// @Date:   20/09/2016 10:22 AM
// @Email:  alex@yuion.net
// @Filename: toggle.styles.scss
// @Last modified by:   Yuion
// @Last modified time: 15/12/2016 11:29 AM

@import '../../../shared/ui-vars';

$dim: 2em;

.center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.toggle {
    box-sizing: content-box;
    display: inline-block;
    padding: .5em;
    position: relative;
    user-select: none;
}

[override] .disabled {

    .text-toggle {
        background-color: $black-light;

        &.active,
        &.inactive {
            background-color: $black-light;
        }
    }

    .ios-toggle {
        background-color: $black-light;

        &.active,
        &.inactive {
            background-color: $black-light;
        }
    }
}

.text-toggle {
    background-color: $white - #222222;
    border-radius: .2em;
    box-sizing: content-box;
    box-shadow: 0 .1em .2em .1em $black-light;
    color: $white;
    cursor: pointer;
    height: $dim;
    overflow: hidden;
    position: relative;
    width: $dim * 3;

    .text {
        box-sizing: content-box;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 49%;

        &.active {
            left: 0;
        }

        &.inactive {
            right: 0;
        }
    }

    &.active {
        background-color: $green;
    }

    &.inactive {
        background-color: $red;
    }

    .toggle-knob {
        background-color: $white;
        border-radius: .18em;
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 50%;
    }
}

.image-toggle {
    cursor: pointer;
    height: $dim;
    width: $dim;
    overflow: hidden;

    .toggle-img {
        max-height: 100%;
        max-width: 100%;
    }
}

.icon-toggle {
    cursor: pointer;
    height: $dim;
    overflow: hidden;
    position: relative;
    width: $dim;

    .toggle-icon {
        border: .15em solid $black-light;
        height: 100%;
        position: relative;
        width: 100%;
    }

    .bg {
        border: none;
        border-radius: 100%;
        font-size: .8em;

        &:hover { background-color: $black-hover; }

        &:active { background-color: $black; }

        &.active {
            background-color: $black-light;

            &:hover { background-color: $black-hover; }

            &:active { background-color: $black; }
        }
    }

    .circle {
        border-radius: 100%;
    }

    .square {
        border-radius: .2em;
    }

    .icon {
        color: $red;
        font-size: 150%;
        left: 50%;
        margin: auto;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -40%);

        &.active {
            color: $green;
        }
    }
}

.ios-toggle {
    background-color: $white;
    border-radius: $dim;
    box-shadow: 0 .1em .2em .1em $black-light;
    cursor: pointer;
    height: $dim / 2;
    margin: 1em;
    position: relative;
    width: $dim * 1.5;
    transition: background-color 200ms;

    .toggle-knob {
        background-color: $white;
        border-radius: $dim;
        bottom: 0;
        box-shadow: 0 .1em .2em .1em $black-light;
        height: $dim;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: $dim;
        transition: left 200ms, right 200ms;
    }

    &.active {
        background-color: $green;
    }

    &.inactive {
        background-color: $red;
    }
}
