
@import 'shared.styles';

.showcase {
    font-size: 1rem;
    padding: 1em;
    display: flex;
    width: 1080px;
    max-width: 100vh;
}

.divider {
    position: relative;
    flex: 1;
    width: 480px;
    max-width: 90vw;
    margin: .5em;
}

.popout {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.heading {
    font-family: $heading-font;
    font-size: 2em;
}

.preview {
    position: relative;
    height: 20em;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.info {
    padding: 0 .5em .5em .5em;
    font-size: .8em;
    text-align: center;
}

.tabs {
    position: relative;
    padding: .5em .8em 0;
    display: flex;
    border-bottom: 1px solid $color-disabled;
}

.tab {
    text-transform: capitalize;
    color: $color-disabled;
    font-size: 1.2rem;
    padding: 0 .6em .5em;
    transition: color 200ms;
    cursor: pointer;
    &.active {
        color: $color1;
    }
}

.bar {
    position: absolute;
    bottom: -1px;
    height: 1px;
    min-width: 1rem;
    background-color: $color1;
    transition: left 200ms, width 200ms;
}

.content {
    position: relative;
    height: 20em;
    overflow: hidden;
}

.lower {
    text-transform: lowercase;
}

.before {
    padding: 1em 1em 0;
}

.details {
    padding: 0 1em 1em;
}

.header {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: .4em;
    padding: 1em 1em 0;
    .text {
        flex: 1;
    }
}

.description {
    color: rgba(0,0,0,.87);
    font-size: .9em;
    padding: 0 2rem 1rem;
}

.title {
    padding: 0 1em;
}

.back {
    position: relative;
    height: 1.2em;
    width: 1.2em;
    cursor: pointer;
}

.overview {
    height: 20em;
    overflow: auto;
}

.bindings {
    height: 20em;
    overflow: auto;
    .list {
        padding: 1em;
    }
    table {
        width: 100%;
        border: none;
        border-collapse: collapse;
    }

    thead {
        background-color: $color1;
        color: #fff;
    }

    td {
        padding: .5em .5em;
        border: none;
    }

    tbody tr {
        cursor: pointer;
        &:nth-child(2n) {
            background-color: rgba(#000, .05);
        }
        &:hover {
            background-color: rgba(#000, .1);
        }
    }
}

.playground {
    position: relative;
    height: 20em;
    overflow: auto;
    .options {
        display: flex;
        border-bottom: 1px solid rgba(#000, .1);
        margin-top: .5em;
        padding: 0 .25em;
    }

    .option {
        padding: .5em 1em;
        background-color: #fff;
        color: rgba(0,0,0,.2);
        transition: color 300ms;
        margin: 0 .25em 0 .25em;
        border: 1px solid rgba(0,0,0,0);
        border-bottom: 1px solid #fff;
        border-radius: .5em .5em 0 0;
        &.active {
            margin-bottom: -1px;
            border: 1px solid rgba(#000, .1);
            border-bottom: 1px solid #fff;
            color: rgba(0,0,0,.87);
        }
        &:hover {
            color: rgba(0,0,0,.87);
        }
    }

    pre {
        margin: 0;
    }

    .pg-bindings {
        padding: 1em;
    }

    .field {
        display: flex;
        align-items: center;
        min-height: 2em;
        width: 100%;
    }

    .label {
        width: 5em;
        min-width: 5em;
    }

    .value {
        flex: 1;
    }
}

.in-dev {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .54);
    color: #fff;
    .text {
        color: rgba(0,0,0,.87);
        padding: 1em;
        background-color: #fff;
        max-width: 35%;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
        text-align: center;
    }
}
