
@import 'shared.styles';

.shell {
    font-size: 1rem;
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.2em;
    background-color: $color1;
    border-bottom: 1px solid rgba(#000, .12);
    box-shadow: 0 0 5px 0 rgba(#000, .35);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 300;
}

.sidebar {
    position: absolute;
    top: 3.2em;
    width: 16em;
    padding: .5em 1em;
    overflow: auto;
    bottom: 2.6em;
    background-color: #fff;
    z-index: 300;
    transform: translateX(-110%);
    transition: transform 300ms;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    &.show {
        transform: translateX(0%);
    }

    .category {
        margin-bottom: 1.5em;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .item {
        font-size: 1em;
        padding: .5em;
        transition: color 200ms;
        cursor: pointer;
        user-select: none;
        &:hover {
            color: rgba(#000, .54);
            color: $color2;
        }
        &.active {
            color: $color2;
        }
    }

    .sub-item {
        font-size: .9em;
        margin-left: 1em;
        padding: .5em;
        transition: color 200ms;
        cursor: pointer;
        user-select: none;
        &:hover {
            color: $color1;
        }
        &.active {
            color: $color1;
        }
    }
}

.title {
    font-size: 1.5em;
    flex: 1;
    font-family: $heading-font;
    text-align: center;
}

.icon {
    position: relative;
    font-size: 1.5em;
    width: 1.2em;
    padding: .5em 1em;
    i {
        cursor: pointer;
    }
}

.contents {
    padding: 3.2em 0 2.5em;
    z-index: 100;
    height: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.6em;
    color: #fff;
    background-color: #6d6d6d;
    border-top: 1px solid rgba(#000, .12);
    box-shadow: 0 0 5px 0 rgba(#000, .35);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 300;
}

.version {
    margin-left: 1em;
}
