// @Author: Alex Sorafumo <alex.sorafumo>
// @Date:   09/01/2017 12:37 PM
// @Email:  alex@yuion.net
// @Filename: marker.styles.scss
// @Last modified by:   alex.sorafumo
// @Last modified time: 12/01/2017 10:49 AM

@import '../../../shared/ui-vars';

@keyframes ring-scaleout {
    0% { transform: scale(1); }
    100% { opacity: 0; transform: scale(2); }
}

.map-marker {
    height: 1px;
    opacity: 0;
    position: absolute;
    width: 1px;
}

.pin-display {
    bottom: 0;
    height: 3em;
    position: absolute;
    transform: translateX(-50%);
    width: 2.5em;
    z-index: 1000;

    .pin {
        height: 3em;
        width: 2.5em;
    }
}

.marker-display {
    height: 1em;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 1em;
    z-index: 20;

    .marker {
        border-radius: 100%;
        height: 1em;
        width: 1em;
    }

    .marker-ring {
        animation: ring-scaleout 1s infinite ease-in-out;
        border: .1em solid $green;
        border-radius: 100%;
        height: 1em;
        width: 1em;
    }
}

.radius-display {
    position: absolute;

    .circle {
        background-color: rgba($blue, .2);
        border: .3em dashed rgba($blue, 1);
        border-radius: 100%;
        box-shadow: 0 .1em .2em .1em $black-light;
        height: 1em;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 1em;
        z-index: 20;
    }
}

.text {
    background-color: $white;
    // border: 2px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 .1em .2em .1em $black-light;
    left: 50%;
    padding: .5em;
    position: absolute;
    top: 0;
    transform: translate(-50%, -120%);
    white-space: nowrap;
    width: auto;
    z-index: 21;
}
