// @Author: Alex Sorafumo <alex.sorafumo>
// @Date:   09/01/2017 12:37 PM
// @Email:  alex@yuion.net
// @Filename: marker.styles.scss
// @Last modified by:   alex.sorafumo
// @Last modified time: 12/01/2017 10:49 AM

div.map-marker {
    position: absolute;
    height: 1px;
    width: 1px;
    opacity: 0;
    & .pin-display {
        position: absolute;
        height: 3.0em;
        width: 2.5em;
        bottom: 0;
        transform: translateX(-50%);
        z-index: 1000;
        & .pin {
            height: 3.0em;
            width: 2.5em;
        }
        z-index: 20;
    }
    & .marker-display {
        position: absolute;
        height: 1.0em;
        width: 1.0em;
        transform: translate(-50%, -50%);
        & .marker {
            height: 1.0em;
            width: 1.0em;
            border-radius: 100%;
            & .marker-ring {
                height: 1.0em;
                width: 1.0em;
                border-radius: 100%;
                border: 0.1em solid #4CAF50;
                -webkit-animation: ring-scaleout 1.0s infinite ease-in-out;
                animation: ring-scaleout 1.0s infinite ease-in-out;
            }

            @-webkit-keyframes ring-scaleout {
                  0% {
                    -webkit-transform: scale(1.0);
                }
                  100% {
                    -webkit-transform: scale(1.5);
                    opacity: 0;
                  }
            }

            @keyframes ring-scaleout {
                  0% {
                    -webkit-transform: scale(1.0);
                    transform: scale(1.0);
                  } 100% {
                    -webkit-transform: scale(1.5);
                    transform: scale(2.0);
                    opacity: 0;
                  }
            }
        }
        z-index: 20;
    }
    & .radius-display {
        position: absolute;
        & .circle {
            position: absolute;
            height: 1.0em;
            width: 1.0em;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            background-color: rgba(219, 83, 106, 0.2);
            border: 0.3em dashed rgba(219, 83, 106, 1);
            box-shadow: 0px 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
            z-index: 20;
        }
    }
    & .text {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -120%);
        padding: 0.5em;
        background-color: #FFF;
        //border: 2px solid #DDD;
        border-radius: 4px;
        width: auto;
        white-space: nowrap;
        box-shadow: 0px 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
        z-index: 21;
    }
}
